body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.main-content {
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  padding: 20px 0px;
}

.featured-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.latest-news,
.upcoming-matches {
  width: 48%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 15px;
  border-radius: 8px;
}
.team-highlights {
  margin-top: 20px;
}

.highlight-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.team-cards {
  display: flex;
  justify-content: space-around;
}

.team-card {
  background-color: var(--white-color);
  border-radius: 8px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.team-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-logos img {
  width: 100px;
  height: 100px;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .featured-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .latest-news,
  .upcoming-matches {
    width: 100%;
  }
  .highlight-container {
    grid-template-columns: 1fr;
  }
}
