* {
  padding: 0;
  margin: 0;
}
body,
html {
  color: var(--white-color);
  background-color: var(--primary-color);
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
:root {
  --primary-color: #0057b8;
  --white-color: #ffffff;
  --accent-color: #ffd700;
  --black-color: #000000;
  --secondary-color: #a3c1e1;
  --background-image: url("https://cmscdnus.yinzcam.com/Toolbox/jsoneditor/FA_BHA/Tickets%20Carousel.jpg?clxf=t_background_anysize");
  --border-radius: 8px;
  font-family: "Arial", sans-serif;
  font-size: clamp(1rem, 2vw, 0.6rem);
}

table {
  border-collapse: collapse;
}

/* Trick to add padding to table-row */
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

td:first-child {
  padding-left: 10px;
  padding-right: 0;
}

a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

ul li {
  list-style: none;
  padding: 5px;
}
.header ul :hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0px;
  z-index: 100;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer {
  background-color: var(--primary-color);
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

.footer ul :hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
.sponsor-container {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 5px;
}

.sponsor-container img {
  width: 100%;
}

.link-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .link-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
